.card {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(16, 112, 202);
}
.box {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: fantasy;
    font-weight: 700;
}

.author {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.2cm;
}

.button {
    color: black;
}
