.subtitle {
    margin-top: .5cm;
    font-weight: 700;
    font-family: fantasy;
    font-size: x-large;
}

.container {
    margin-top: .25cm;
    margin-left: 4cm;
    margin-bottom: 1cm;
}

.item {
    margin-right: 1.5cm;
}

.paper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-style: oblique;
    font-weight: 400;
}

.tech {
    margin-left: 3.5cm;
    margin-right: 4cm;
}

.button {
    margin-left: 4cm;
}