@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');





.toolbar {
    background-color: black;
}

.button {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.title {
    margin-right: 1in;
    font-size: 1.5cm;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.avatar {
    margin-left: 0.5cm;
}