@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');





.toolbar {
    margin-left: 1.5in;
}

.button {
    color: black;
    margin-left: 10px;
}

.title {
    margin-right: 1in;
    font-size: 1.5cm;
    font-family: 'Bebas Neue', cursive;
}